@-webkit-keyframes leftspin {
	0% {-webkit-transform: scale(1) translateX(0px);}
	25%{-webkit-transform: scale(0.7) translateX(-50px);z-index : 100;}
	26% {z-index : 1;}
	50% {-webkit-transform: scale(0.4) translateX(0px);}
	75% {-webkit-transform: scale(0.7) translateX(50px);}
	76% {z-index: 100;}
	100%{-webkit-transform: scale(1) translateX(0px);}
}

@-webkit-keyframes rightspin {
	0% {-webkit-transform: scale(0.4) translateX(0px);}
	25%{-webkit-transform: scale(0.7) translateX(50px);z-index: 1;}
	26% {z-index: 100;}
	50% {-webkit-transform: scale(1) translateX(0px);}
	75% {-webkit-transform: scale(0.7) translateX(-50px);z-index: 100;}
	76% {z-index: 1;}
	100% {-webkit-transform: scale(0.4) translateX(0px);}
}
